version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:current-browsers-legacy
      - image: selenium/hub:4.0.0-beta-1-20210215
        name: selenium-hub
        environment:
          - GRID_MAX_SESSION=15
      - image: selenium/standalone-chrome:4.0.0-beta-1-20210215
        environment:
          - HUB_HOST=selenium-hub
          - HUB_PORT=4444
          - SE_EVENT_BUS_PUBLISH_PORT=4442
          - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
          - NODE_PORT=5555
          - NODE_MAX_SESSION=5
          - NODE_MAX_INSTANCES=5
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - save_cache:
          paths:
            - ~/usr/local/lib/node_modules
          key: node-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
      - run: npm install
      - run: npm run linter
      - run: npm run test-api
      - run: npm run circleci
  